/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v12-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}  

/* ROOT */
:root{
    /* --header-bg-color: #fff; */
    --main-bg-color: #FF7979;
    --main-text-color: #fff;
    --main-btn-color: #38CC8B;
    --subscribe-btn-color: #5E54A4;
    --input-text-color: #3D3B48;
    --input-valid-color: #5E54A4;
    --input-invalid-color: #FF7979;
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    background-color: #fff;
}

img{
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

ol,
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

.statics__info{
    width: 505px;
    margin-bottom: 83px;
}

.statics__title{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 36px;          
    line-height: 48px;
    color: #3C3C3C;
}

.statics__desc{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: #667085;
}
.statics__list{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/images/line1.png"), url("../assets/images/line2.png");
    background-repeat: no-repeat no-repeat;
    background-size: contain contain;
    background-position: calc(50% - 400px), calc(50% + 400px);
}